apiVersion: v1
kind: Secret
metadata:
  name: gallery-secrets
  labels:
    app.kubernetes.io/part-of: gallery-app
type: Opaque
stringData:
  PROD: "true"
  GIN_MODE: "release"
  DB_HOST: "postgres"
  DB_PORT: "5432"
  DB_USER: "galleryuser"
  DB_PASS: "{{ app_postgres_pass }}"
  DB_NAME: "gallerydb"
  SERVER_ADDRESS: "0.0.0.0:8080"
  STORAGE_URI: "seaweedfs:8333"
  STORAGE_BUCKET: "gallery"
  STORAGE_ACCESS_KEY: "{{ app_seaweed_access_key }}"
  STORAGE_SECRET_KEY: "{{ app_seaweed_secret_key }}"
  JWT_SECRET: "{{ app_jwt_secret }}"
  JWT_EXPIRATION: "86400"

  POSTGRES_USER: "galleryuser"
  POSTGRES_PASSWORD: "{{ app_postgres_pass }}"
  POSTGRES_DB: "gallerydb"

  AWS_ACCESS_KEY_ID: "{{ app_seaweed_access_key }}"
  AWS_SECRET_ACCESS_KEY: "{{ app_seaweed_secret_key }}"
